/* Home.css */
.home {
    display: flex;
    justify-content: flex-end;
    align-items: column;
    height: 100vh; 
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%; 
  }
  
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%; 
    height: 300px; 
    border: 5px solid green;
    border-radius: 10px;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 200px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
